<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project xmlns:con="http://eviware.com/soapui/config" id="d0f9882c-c3b8-41fc-8b58-bdc874770e87" activeEnvironment="Default environment" name="ECC_OUTBOUNDDELIVERYCWRRC" resourceRoot="" soapui-version="5.9.1" encryptionMode="Not encrypted" compositeProjectFormat="1.3" projectVersion="" updated="3.63.0">
  <con:settings>
    <con:setting id="d0f9882c-c3b8-41fc-8b58-bdc874770e87fileName">ECC-OUTBOUNDDELIVERYCWRRC-soapui-project</con:setting>
  </con:settings>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
